/* select tag{
    property: value;
} */
h1{
    color: purple;
}

li{
    color:#07524b ;
}
p{
    color: rgb(255,84,100);
}
h4{
    color: rgba(255, 84, 100, 0.5);
}
/* rgb = rgba when a(alpha)=1, 1 means opaque and 0 means transparent */