h1{
    text-align: center;

    /* Using Google fonts  */
}
p{
    font-family: 'Sevillana', cursive;
    /* this upper line we get from the font website from where we copy the link */
}







/* using Font Library  */




/* p {
    font-family: 'SofiaRegular';
    font-weight: normal;
    font-style: normal;
 } */